autoray==0.8.2
cotengra==0.7.5
cytoolz==1.1.0
dill==0.4.1
llvmlite==0.43.0
numba==0.60.0
numpy==2.0.2
psutil==7.2.2
python-dateutil==2.9.0.post0
qiskit==2.2.3
qiskit-aer==0.17.2
quimb==1.11.2
rustworkx==0.17.1
scipy==1.13.1
six==1.17.0
stevedore==5.5.0
toolz==1.1.0
tqdm==4.67.3
typing_extensions==4.15.0
